build/
build_masm/
build-tests/
out/
.vs/
.vscode/
CMakeUserPresets.json
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.dll
build-android-test/

# Android / Gradle
android/.gradle/
android/**/build/
android/local.properties
**/*.iml
*.jks
*.keystore
android/keystore.properties
